{% extends 'homebase.html' %}
{% load static %}
{% load i18n %}
{% block body %}
<!-- page title -->
<section class="page-title-section overlay" data-background="{% static 'images/backgrounds/page-title.jpg'%}">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@@page-link">{% trans 'Contact Us' %}</a></li>
          <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
        </ul>
        <p class="text-lighten">{% trans "Do you have other questions? Don't worry, there aren't any dumb questions. Just fill out the form below, and we'll get back to you as soon as possible." %}</p>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->
     <!--=================End Home Banner Area ================-->
    <div style="text-align: center;">
         <p>{% if messages %}
                   {% for message in messages %}
                       <div class="alert alert-{{ message.tags }}" role="alert">
                           {{ message }}
                       </div>
                   {% endfor %}
             {% endif %}
         </p>
    </div>
     <!--==================Contact Area =======================-->
<!-- contact -->
<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title">{% trans 'Contact Us' %}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <form action="" method="post" id="contactForm">
          {% csrf_token %}
          <input type="text" class="form-control mb-3" id="name" name="name" placeholder="Your Name">
          <input type="phone" class="form-control mb-3" id="phone" name="phone" placeholder="Your Phone">
          <input type="text" class="form-control mb-3" id="subject" name="subject" placeholder="Subject">
          <textarea name="message" id="message" class="form-control mb-3" placeholder="Your Message"></textarea>
          <button type="submit" value="submit" class="btn btn-primary">{% trans 'SEND MESSAGE' %}</button>
        </form>
      </div>
      <div class="col-lg-5">
        <p class="mb-5">{{ setting.description | safe}}</p>
        <a href="tel:+8802057843248" class="text-color h5 d-block">{{ setting.phone | safe}}</a>
        <a href="mailto:yourmail@email.com" class="mb-5 text-color h5 d-block">{{ setting.email | safe}}</a>
        <p>{{ setting.address | safe}}</p>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->

<!-- gmap -->
<section class="section pt-0">
  <!-- Google Map -->
  <div id="map_canvas" data-latitude="51.507351" data-longitude="-0.127758"></div>
</section>
<!-- /gmap -->

<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>

<!-- Custom Google Map Initialization -->
<script>
  function initMap() {
    var latitude = parseFloat(document.getElementById('map_canvas').getAttribute('data-latitude'));
    var longitude = parseFloat(document.getElementById('map_canvas').getAttribute('data-longitude'));

    var map = new google.maps.Map(document.getElementById('map_canvas'), {
      center: {lat: latitude, lng: longitude},
      zoom: 12
    });

    var marker = new google.maps.Marker({
      position: {lat: latitude, lng: longitude},
      map: map
    });
  }

  google.maps.event.addDomListener(window, 'load', initMap);
</script>
{% endblock %}